extends ../layouts/default

block content
	.container-fluid.post-content
		header.post-header
			h1= data.post.title
			h5 Posted 
				if data.post.publishedDate
					| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
				if data.post.categories && data.post.categories.length
					| in 
					each cat, cat_i in data.post.categories
						a(href='/blog/' + cat.key)= cat.name
						if cat_i < data.post.categories.length - 1
							| , 
						else
							|  
				if data.post.author
					| by #{data.post.author.name.first}
				if data.post.image.exists
					img(src=data.post._.image.crop(875,321, {gravity: "auto:face", quality: "auto:good", format: "jpg"})).img-responsive.img-hero
	.container
		article
			if !data.post
				h2 Invalid Post.
			else
				.post.article-text
					!= data.post.content.full
			hr
			p: a(href='/blog') &larr; back to the blog
